<h1>Reports</h1>

<div>
    <button onclick="location.href='@Url.Action("Report1", "Reports")'">Report 1</button>
    <button onclick="location.href='@Url.Action("Report2", "Reports")'">Report 2</button>
    <button onclick="location.href='@Url.Action("Report3", "Reports")'">Report 3</button>
    <button onclick="location.href='@Url.Action("Report4", "Reports")'">Report 4</button>
</div>