@model IEnumerable<dynamic>

<h1>Report 1: Students with more than 90 marks in at least 3 subjects</h1>

<table class="table">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Subject Name</th>
            <th>Mark</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            foreach (var mark in student.Marks)
            {
                <tr>
                    <td>@student.Student.Name</td>
                    <td>@mark.SubjectName</td>
                    <td>@mark.Mark</td>
                </tr>
            }
        }
    </tbody>
</table>
